.table {
    width: 100%;
    margin: 2rem;
}

.table__title {
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    font-size: 2rem;

}

table {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
}

tr {
    /* border: 1px solid grey; */
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

.img__pornactress {
    width: 200px;
    margin: 1rem;
}